*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a::before,
a::after,
a:hover::before,
a:hover::after {
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(113, 165, 214);
}

::-webkit-scrollbar-thumb {
  background: rgb(78, 161, 238);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(28, 79, 248, 0.626);
}

body,
html {
    font-family: 'Roboto';font-size: 22px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 12pt;
    font-weight: 400;
    color: rgb(0, 8, 77);
    height: 100%;
    overflow: auto; /* Permite el scroll en el body */
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido al inicio para el scroll */
    min-height: 100vh; /* Permite que el contenido crezca más allá del viewport */
    background:linear-gradient(135deg,rgb(49, 28, 241) 0%,rgb(97, 155, 255) 100%);
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Activa el scroll vertical en el body */
  }
  
  .logo-sf {
    width: auto;
    height: 10rem; /* Ajusta la altura según el tamaño deseado */
    max-width: 100%; /* Asegura que la imagen no se estire más de su tamaño original */
    display: block; /* Evita que aparezca espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen si es necesario */
  }
  
  .dashboard-river {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2rem; /* Reduce el espacio superior para mejor visualización */
    margin-left: 250px;
    margin-right: 1rem
}
  
  .dashboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    background: white;
    margin:auto;
    border-radius: 25px;
    z-index: 998;
  }
  
  .dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%; /* Asegura que el contenido ocupe el espacio completo */
    max-width: 1600px; /* Opcional: Ajusta el tamaño máximo del dashboard */
  }

.ui-row-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 35px 30px 25px 30px;
}

.logo-comp {
  position: relative;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.logo-comp > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.logo-comp > div > svg {
  fill: white;
  width: 70%;
  height: 70%;
  filter: drop-shadow(1px 1px 0px SeaGreen);
  transition: all 0.4s ease-in-out;
}

.logo-comp h1 {
    font-family: "Roboto";
    letter-spacing: 0px;
    font-size: 26pt;
    margin: 0;
    align-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-top: 4rem;
    padding: 0;
    color: rgb(1, 41, 18);
    transition: all 0.4s ease-in-out;
  }

.logo-comp p {
  font-family: "Roboto";
  letter-spacing: 0px;
  font-size: 12pt;
  margin: 0;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 8rem;
  padding: 0;
  color: rgb(1, 41, 18);
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > p {
  color: black;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > div > svg {
  fill: black;
  filter: unset;
  transition: all 0.4s ease-in-out;
}

.search input:focus {
  outline: 1px solid MediumSpringGreen;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.profile > svg {
  fill: dimgray;
  width: 25px;
  height: auto;
  margin-right: 20px;
}

.profile > svg:nth-child(3) {
  margin-left: 5px;
  order: 4;
  fill: dimgray;
  margin-right: unset;
}

.profile > svg:hover,
.profile-small > svg:hover {
  cursor: pointer;
  fill: MediumSpringGreen;
}

.profile > svg:active,
.profile-small > svg:active {
  transform: scale(0.92);
}

.profile > div {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background: url("https://picsum.photos/id/440/60/60");
  background-position: center;
  background-size: cover;
}

.profile-small {
  display: none;
}

.ui-row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.page-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}

.page-display h1 {
  position: relative;
  font-size: 30pt;
  color: black;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 30pt;
}

.page-display h1::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 15px;
  content: "";
  z-index: -1;
}

.page-display h2 {
  font-size: 16pt;
  color: dimgray;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.page-display:hover,
.page-display h1:hover,
.page-display h2:hover {
  cursor: default;
}

.large-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 75vh;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-radius: 20px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.large-banner:hover {
  background-size: 120%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

¿ .large-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  align-items: center;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.large-banner::after {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 75vh;
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}

.large-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 75vh;
  align-items: center;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 2rem;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.large-banner:hover {
  background-size: 120%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.large-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.large-banner {
  position: relative;
  width: 100%;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.large-banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}

.large-banner-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
  margin-top: 30px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.large-banner-1:hover {
  background-size: 120%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.large-banner-1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.large-banner-1::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}

.main-content > hr {
  width: 99%;
  height: 1px;
  margin-top: 35px;
  border: 0;
  border-top: 1px solid #ccc;
}

.main-content > hr:last-of-type {
  margin-top: 0px;
  margin-bottom: 35px;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes glow15 {
  0% {
    filter: hue-rotate(15deg);
  }
  100% {
    filter: hue-rotate(375deg);
  }
}

@keyframes glow30 {
  0% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(390deg);
  }
}

@keyframes glow45 {
  0% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(405deg);
  }
}

@keyframes glow60 {
  0% {
    filter: hue-rotate(60deg);
  }
  100% {
    filter: hue-rotate(420deg);
  }
}


@media (max-width: 1363px) {
  .ui-row-2 {
    flex-direction: column;
  }
  .main-content {
    margin-left: 0 !important;
  }
  .left-sidebar {
    width: 100%;
    z-index: 999;
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-evenly;
    top: 0px;
    padding: 20px 0px;
    box-shadow: 0 10px 20px 0 #2e8b57aa, inset 0px -7px 9px 0px SeaGreen;
    border: 1px solid rgb(16, 144, 190);
  }
  .left-sidebar > div,
  .left-sidebar > div:last-of-type {
    margin-bottom: 8px;
  }
}

@media (max-width: 1250px) {
  .featured-users {
    flex-wrap: wrap;
  }
  .featured-users::after {
    display: none;
  }
  .featured-users > div::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: rgb(16, 144, 190);
    content: "";
    z-index: -1;
  }
  .featured-users h2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .featured-users > h2 > br {
    display: none;
  }
  .featured-users > h2 > span {
    all: unset;
    font-weight: 600;
    margin-left: 8px;
  }
  .featured-users > div {
    margin: unset;
  }
}

@media (max-width: 1200px) {
  .featured-users > div {
    width: 33%;
    padding-left: 15px;
  }
  .featured-users > div > div:nth-child(2)::after {
    right: 3%;
  }
}

@media (max-width: 1100px) {
  .clay-category p {
    font-size: 12pt;
  }
  .featured-clay > div {
    width: 49%;
  }
  .featured-users > div {
    width: 90%;
    margin-bottom: 40px;
  }
  .featured-users > div:nth-child(4) {
    margin-bottom: unset;
  }
  .featured-users > div > div:nth-child(2)::after {
    left: 25%;
  }
  .featured-users > div:nth-child(3) > div:nth-child(2)::after,
  .featured-users > div:nth-child(4) > div:nth-child(2)::after {
    display: flex;
  }

  .featured-users > div::after {
    display: none;
  }
  .featured-users::after {
    display: initial;
    bottom: -40%;
    right: -20%;
    width: 750px;
    height: 750px;
    border-radius: 750px;
  }
}

@media (max-width: 992px) {
  ::-webkit-scrollbar 
  .dashboard-container{
    height: 95%;
  }
  .ui-row-2 {
    padding-top: 0px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-display {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .page-display h1,
  .page-display h2 {
    text-align: center;
  }
  .clay-category {
    width: 100%;
    margin-bottom: 30px;
  }
  .clay-category:nth-child(3) {
    margin-bottom: 10px;
  }
  .clay-category p {
    font-size: 16pt;
  }
  .profile {
    display: none;
  }
  .profile-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .profile-small svg {
    width: 30px;
    margin-right: 30px;
    height: auto;
    fill: dimgray;
  }
  .search {
    display: none;
  }
}

@media (max-width: 970px) {
  .featured-users > div > div:nth-child(2)::after {
    left: 32%;
  }
}

@media (max-width: 800px) {
  .featured-users > div > div:nth-child(2)::after {
    left: 40%;
  }
}

@media (max-width: 760px) {
  .featured-clay {
    justify-content: center;
  }
  .featured-clay > div {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .large-banner h2 {
    text-align: center;
    padding: 0 10px;
    font-size: 24pt;
  }
  .large-banner {
    background-size: cover;
  }
  .large-banner:hover {
    background-size: cover;
  }
}

@media (max-width: 660px) {
  .featured-users > div > div:nth-child(2)::after {
    left: unset;
    right: 5%;
  }
}

@media (max-width: 500px) {
  .featured-users > h2 > br {
    display: initial;
  }
}

@media (max-width: 475px) {
  .left-sidebar > div {
    width: 35px;
    height: 35px;
  }
  .left-sidebar > div > svg {
    width: 20px;
  }
  .ui-row-1 {
    padding: 30px 20px 20px 20px;
  }
  .profile-small svg {
    margin-right: 15px;
  }
}

@media (max-width: 460px) {
  .featured-users > div {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .ui-row-1,
  .ui-row-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .clay-category,
  .large-banner {
    width: 90%;
  }
  .large-banner a {
    padding: 7px 12px;
  }
}

@media (max-width: 410px) {
  .ui-row-1 {
    padding: 30px 10px 20px 10px;
  }
  .profile-small svg {
    width: 20px;
    margin-right: 10px;
  }
  .logo-comp p {
    letter-spacing: 1px;
    margin-left: 7px;
  }
}

@media (max-width: 390px) {
  .featured-users > div > div:nth-child(1) > div:nth-child(2) > h3 {
    font-size: 12pt;
  }
}

@media (max-width: 375px) {
  .featured-users > div > div:nth-child(2)::after {
    right: unset;
    bottom: -40px;
    left: 0;
  }
  .featured-users > div {
    margin-bottom: 75px;
  }
  .featured-users > div:nth-child(4) {
    margin-bottom: 50px;
  }
}

@media (max-width: 335px) {
  .profile-small svg {
    width: 20px;
    margin-right: 5px;
  }
}

.logo-sf {
  width: auto;
  height: 7rem; /* Ajusta la altura según el tamaño deseado */
  max-width: 100%; /* Asegura que la imagen no se estire más de su tamaño original */
  display: block; /* Evita que aparezca espacio extra debajo de la imagen */
  margin: 0 auto; /* Centra la imagen si es necesario */
}

.titulos {
  padding: 0px 3rem 0rem 3rem;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 250px;
    z-index: 1000;
    background: #0078d7;
    color: rgb(43, 181, 190);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: left 0.3s ease-in-out;
}

.sidebar-toggle:hover {
    background: #005a9e;
}

.foot-comp {
    position: bottom;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:linear-gradient(135deg,rgb(49, 28, 241) 0%,rgb(97, 155, 255) 100%);
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: auto;
    height: auto;
    transition: all 0.4s ease-in-out;
  }
  
.foot-comp:hover {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  
.foot-comp > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
  }
  
.foot-comp > div > svg {
    fill: white;
    width: 70%;
    height: 70%;
    filter: drop-shadow(1px 1px 0px SeaGreen);
    transition: all 0.4s ease-in-out;
  }

.foot-comp h1 {
    font-family: "Roboto";
    letter-spacing: 0px;
    font-size: 26pt;
    margin: 0;
    align-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-top: 4rem;
    padding: 0;
    color: rgb(1, 41, 18);
    transition: all 0.4s ease-in-out;
  }

.foot-comp p {
  font-family: "Roboto";
  letter-spacing: 0px;
  font-size: 12pt;
  margin: 0;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 0;
  color: rgb(1, 41, 18);
  transition: all 0.4s ease-in-out;
}

.foot-comp:hover > p {
  color: black;
  transition: all 0.4s ease-in-out;
}

.foot-dashboard-river {
    position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2rem; /* Reduce el espacio superior para mejor visualización */
    margin-left: 250px;
    margin-right: 1rem
}
  
.foot-dashboard-container {
    position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    background: white;
    margin:auto;
    border-radius: 25px;
    z-index: 998;
  }
  
.foot-dashboard {
    margin-top: 3rem;
    position: bottom;
    display: flex;
    flex-direction: column; 
    background:linear-gradient(135deg,rgb(255, 255, 255) 0%,rgb(133, 178, 255) 100%);;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 8%; /* Asegura que el contenido ocupe el espacio completo */
    max-width: 100%; /* Opcional: Ajusta el tamaño máximo del dashboard */
  }
.foot-dashboard p{
    margin-top: 2rem;
    font-family: 'Roboto';
    font-style: bold;
    color:rgb(0, 0, 0);
    font-size: 12px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    }